header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

h2 {
    color: mediumslateblue;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 3px;
    border: 1px solid black;
}

tr:first-child {
    padding: 4px;
    background-color: #B0C4DE;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}